html {
    height: 100%;
    font-family: NotoSansJP-Regular;
    color: rgb(44, 43, 43);
}

body {
    width: 400px;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

