/* Styles for the tab buttons */
.tabs {
    display: flex;
    background-color: #F7F7F7;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    padding: 3px;
    /* margin:  auto; */
}

.tab-button {
    padding: 10px 15px;
    /* background-color: #f1f1f1; */
    /* border: 1px solid #ccc; */
    border: none;
    background-color: #F7F7F7;
    color: #6c6c6c;
    border-bottom: none;
    width: 100%;
    border-radius: 20px;
    font-size: 14px;
    /* So it looks attached to the content below */
    /* margin-right: 2px; */
    cursor: pointer;
    transition: background-color 0.3s;
    /* font-family: NotoSansJP-Bold; */

}

.tab-button:hover {
    /* background-color: #FFFFFF; */
}

.tab-button.active {
    /* background-color: #fff; */
    /* border-color: #ccc; */
    /* border-bottom: 1px solid #fff; */
    /* Hide the border when tab is active */
    background-color: #FFFFFF;
    color: rgb(44, 43, 43);


}

/* Styles for the tab content */
.tab-content {
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    border-top: none;
    width: 100%;
    height: fit-content;
    margin-top: 20px;

    /* Content appears attached to the tabs above */
}